html {
  background-image: url("ocpcamo.jpg");
}
body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.1;
  margin: auto 0;


}
.wrapper {
    position: relative;
  }
.head {
  position: absolute;
  margin: auto 0;
  left: 1%;
  color: white;
  font-size: 14px;
  width: 20%;
}
.derek {
  height: 50px;
  width: 250px;
  margin-left: 5px;
  margin-top: 5px;
}
.button1 {
  width: 200px;
  height: 50px;
  margin-left: 300px;
  margin-top: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #2f473a;
  color: white;
}
.button2 {
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #2f473a;
  color: white;
}
.button3 {
  width: 200px;
  height: 50px;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #2f473a;
  color: white;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav {
  background-color: #2f473a;
  height: 60px;
}
/* End of header */


main {
  margin: 20px 0 20px 0;
  top: 10px;
  left: 10px;
  color: #0e2315;
  font-size: 14px;
  position: absolute;
  width: 100%;
  }
  .mainContainer {
    display: flex;
    flex-direction: column wrap;
  }

  .maincontent {
    text-align: center;
    width: 560px;
    height: auto;
    margin-left: 15px;
    top: 5px;
    border: 3px solid black;
    }
    .rightContainer {
      width: 80%;
      padding-left: 100px;
    }
.afghanistan {
  max-height: 350px;
  max-width: 560px;
  margin-left: 50px;
  padding-top: 40px;
  }

.mywork {
  font-family: 'Amatic SC', cursive;
  /* position: absolute; */
  /* right: 30px; */
  top: 0px;
  color: #0e2315;
  font-size: 14px;
  border: 3px solid black;
  width: 85%;
  height: 100px;
  text-align: center;
  border: 3px solid black;
  text-align: center;
}
.project-container1{
  /* position: absolute; */
  /* right: 80px;
  top: 80px; */
  color: #0e2315;
  font-size: 14px;
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;

}


.project1 {
  border: 2px solid black;
  width: 150px;
  height: 150px;
  /* top: 50%; */
}
.project2 {
  border: 2px solid black;
  width: 150px;
  height: 150px;
  /* top: 50%; */
}
.project3{
  border: 2px solid black;
  width: 150px;
  height: 150px;
  /* top: 50%; */
}
.project4{
  border: 2px solid black;
  width: 150px;
  height: 150px;
  /* top: 50%; */
}
li {
  text-align: left;
}
.contact {
  background-color: rgba(222, 226, 213, 0.5);
  /* position: absolute; */
  /* margin: 0 0 50px 0; */
  /* right: 30px;
  top: 440px; */
  color: #0e2315;
  font-size: 14px;
  width: 100%;
  text-align: center;
  font-family: font-family: 'Amatic SC', cursive;
  border: 3px solid black;
  margin: 45px 0 0 0;
}
.contact-p-class {
  top: 50px;
  font-family: font-family: 'Amatic SC', cursive;
  font-size: 40px;
  color: #094900;
  font-weight: bold;
  line-height: 0;
}
footer {
  background-color: #2f473a;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 50px auto 0 auto;
  position: fixed;
}

h3 {
  font-size: 40px;
  color: #094900;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}
.branding {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  color: #094900;
  margin: 55px 0 0 0;
}
@media (max-width: 1000px) {
  /* main {
    display: flex;
    flex-flow: column wrap;
  }
  .afghanistan {
    width: 100%;
  } */
  .mainContainer {
    display: flex;
    flex-direction: column;

  }
}
